<a href="https://colab.research.google.com/github/ConstanzaG/Colaboratorys/blob/main/Focus_Group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre_carpeta = '17. Focus Group Marzo23 Q2'
n_estudio = nombre_carpeta[0:2]
print(f'Número de estudio: {n_estudio}')

Número de estudio: 17

In [ ]:
nombre_archivo = 'Transcripción Estudio 17 - GF4'
# n_estudio = '17'

n_grupo = '4'
filtro = 'Chilenos; Ni Adherentes Ni Opositores; Votó en plebiscito de salida; Mixto'
segmento1 = 'D-E'
segmento2 = '18-39 años'
fecha = '2022-03-30 19:00'

In [ ]:
lista = """
desarroll.*
Modelo
Públic.*
Privad.*
Estatal
empresa.*
pensi.*
jubila.*
afp
Estado
Gobierno
just.*
abus.*
derecho.*
Economía
Inflación
Esperanza
Cambio
Alegría
Confianza
Incertidumbre
Miedo
Inestabilidad
Segur.*
Migra.*
Inmigra.*
extranjero.*
Injust.*
Macrozona Sur
Araucanía
Salud
Delincuen.*
violen.*
empleador.*
solidari.*
cuidado.*
insegur.*
transmite
liderazgo
6%
educación
profesor.*
vivienda
participa.*
región
comuna
apoy.*
ayuda.*
delito.*
preocupa.*
isapre.*
Fonasa
consultorio.*
fondo.*
trato
calidad
mujeres
Presidente
retiro
"""

In [ ]:
quitar = []

# Dependencias

In [ ]:
from datetime import datetime
inicio = datetime.now()

In [ ]:
!pip install python-docx
!pip install corpus-toolkit
!pip install docx2txt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: python-docx in /usr/local/lib/python3.9/dist-packages (0.8.11)
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from python-docx) (4.9.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: corpus-toolkit in /usr/local/lib/python3.9/dist-packages (0.32)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: docx2txt in /usr/local/lib/python3.9/dist-packages (0.8)

In [ ]:
import pandas as pd 
import docx
import docx2txt
from corpus_toolkit import corpus_tools as ct
import pandas as pd
import docx
from docx.shared import RGBColor

import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
ruta = f'/content/drive/Shareddrives/Estudios 2022/Focus Group/{nombre_carpeta}/'

In [ ]:
cd $ruta

/content/drive/Shareddrives/Estudios 2022/Focus Group/17. Focus Group Marzo23 Q2

In [ ]:
%ls

'lineas_concordancia - Transcripción Estudio 17 - GF1.docx'
'lineas_concordancia - Transcripción Estudio 17 - GF1.xlsx'
'lineas_concordancia - Transcripción Estudio 17 - GF2.docx'
'lineas_concordancia - Transcripción Estudio 17 - GF2.xlsx'
'lineas_concordancia - Transcripción Estudio 17 - GF3.docx'
'lineas_concordancia - Transcripción Estudio 17 - GF3.xlsx'
'Transcripción Estudio 17 - GF1.docx'
'Transcripción Estudio 17 - GF1.xlsx'
'Transcripción Estudio 17 - GF2.docx'
'Transcripción Estudio 17 - GF2.xlsx'
'Transcripción Estudio 17 - GF3.docx'
'Transcripción Estudio 17 - GF3.xlsx'
'Transcripción Estudio 17 - GF4.docx'

# Código

In [ ]:
lista = lista.strip()
lista = lista.lower()
lista = lista.split("\n")
quitar.append('')

for ele in quitar:
  if ele in lista:
    lista.remove(ele.lower())

lista.sort()
lista = set(lista)

# lista

## Tratamiento de datos

In [ ]:
# Archivo docx a txt

MY_TEXT = docx2txt.process(nombre_archivo+".docx")

with open(nombre_archivo+".txt", "w") as text_file:
    print(MY_TEXT, file=text_file)
    # print(text_file.encoding)

# #---------------

df2 = pd.read_csv(nombre_archivo+".txt", sep = "\r\n", encoding='utf-8', names=['texto'], index_col = False) #'cp1252'

df=pd.DataFrame()
dicc = {}
for linea in df2.index:
    linea = df2[df2.columns[0]][linea]
    if '@' in linea:
        tema = linea

    # if ':' in linea:
    #     datos = linea.split(':')
    if ';' in linea:
        datos = linea.split(';')
        dicc['Tema'] = tema[1:]
        dicc['Sujeto'] = datos[0]
        dicc['Texto'] = datos[1]
        dicc['Filtro'] = filtro
        dicc['Segmento1'] = segmento1
        dicc['Segmento2'] = segmento2
        dicc['Fecha'] = fecha
        dicc['N° estudio'] = n_estudio
        dicc['N° grupo'] = n_grupo

        df=df.append(dicc, ignore_index=True)

# df
# df.drop(axis=1)
# df.reset_index(drop=True, inplace=True)
df.to_excel(nombre_archivo+'.xlsx', index = False)

## Líneas de concordancia Docx

In [ ]:
# Leer excel y pasarlo a csv

df = pd.read_excel(nombre_archivo + '.xlsx')

# Eliminar espacios al inicio y final
for i in df["Texto"]:
    df["Texto"] = df["Texto"].replace(i, str(i).strip())

# Eliminar moderador y moderadora
df_aux = pd.DataFrame(df, columns= ['Sujeto', 'Texto'])
indexNames = df_aux[ (df_aux['Sujeto'] == 'Moderador')].index 
indexNames1 = df_aux[(df_aux['Sujeto'] == 'Moderadora')].index
indexNames = indexNames.append(indexNames1)
df_aux.drop(indexNames , inplace=True)

# eliminar años y comuna
lista_aux = (df_aux['Sujeto'].str.split('('))
lista_sujeto = []
for i in lista_aux:
    lista_sujeto.append(i[0])
df_aux['Sujeto'] = lista_sujeto
df_aux['Texto_full'] = df_aux['Sujeto'] + ': '+ df_aux['Texto']
df_aux

,Sujeto,Texto,Texto_full
1,Hombre 1,"Soy manipulador de carga y chofer, mi familia ...","Hombre 1: Soy manipulador de carga y chofer, m..."
2,Mujer 2,"Hola, buenas tardes, soy de la comuna de Pudah...","Mujer 2: Hola, buenas tardes, soy de la comuna..."
4,Mujer 2,Ahora estaba haciendo la once.,Mujer 2: Ahora estaba haciendo la once.
5,Mujer 3,"Hola, mi nombre es (), trabajo en un colegio d...","Mujer 3: Hola, mi nombre es (), trabajo en un ..."
6,Mujer 4,"Hola, yo también soy de Pudahuel y también ten...","Mujer 4: Hola, yo también soy de Pudahuel y ta..."
...,...,...,...
202,Mujer 2,La uno.,Mujer 2: La uno.
203,Mujer 3,La dos.,Mujer 3: La dos.
204,Mujer 4,La dos.,Mujer 4: La dos.
205,Mujer 5,La uno.,Mujer 5: La uno.
206,Hombre 6,La uno.,Hombre 6: La uno.

In [ ]:
# Buscar lista de palabras y generar archivo docx y xlsx

document = docx.Document()
archivo = 'lineas de concordancia2.txt'
df_lineas = pd.DataFrame(columns=['sujeto', 'texto antes', 'palabra', 'texto después'])

resultado = []
for i in lista:
    # conc_results4 = ct.concord(ct.tokenize(ct.ldcorpus("brown_single"),lemma = False),["run.*","ran"], nhits = 10, regex = True)
    conc_results1 = ct.concord(ct.tokenize(df_aux['Texto_full'], lemma=False), [i], nhits = 100, nleft=2000, nright=2000, regex = True, sep=',')#, outname='lineas de concordancia DF.txt')
    if bool(conc_results1) == False:
        pass
    else:
        resultado.extend(conc_results1)

for linea2 in resultado:
    izq = ' '.join(linea2[0])
    palabra = linea2[1]
    der =' '.join(linea2[2])

    # escribir = str((izq +' '+ palabra+' '+ der+ '\n\n'))#.encode('utf8'))
    # xlsx------------------------------
    if linea2[0][0] == 'mujer' or linea2[0][0] == 'hombre':
        sujeto = linea2[0][0] + ' ' + linea2[0][1]
        print(sujeto)
    izq_2 = ' '.join(linea2[0][2:])
    df_lineas=df_lineas.append({'sujeto':sujeto, 'texto antes' : izq_2 , 'palabra' : palabra, 'texto después' : der} , ignore_index=True)
    df_lineas.to_excel('lineas_concordancia - ' + nombre_archivo + '.xlsx', index=False)
    # docx-----------------------------
    p = document.add_paragraph(izq + ' ')
    p.add_run(palabra).font.color.rgb = RGBColor(0,0,255)
    p.add_run(' ' + der)
    document.save('lineas_concordancia - ' + nombre_archivo + '.docx')
    # -----------------------------

Search returned 0 hits.
 Returning all 0 hits
Search returned 4 hits.
 Returning all 4 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 1 hits.
 Returning all 1 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 1 hits.
 Returning all 1 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 1 hits.
 Returning all 1 hits
Search returned 1 hits.
 Returning all 1 hits
Search returned 6 hits.
 Returning all 6 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 9 hits.
 Returning all 9 hits
Search returned 2 hits.
 Returning all 2 hits
Search returned 2 hits.
 Returning all 2 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 6 hits.
 Returning all 6 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 6 hits.
 Returning all 6 hits
Search returned 2 hits.
 Returning all 2 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 3 hits.
 Returning all 3 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 3 hits.
 Returning all 3 hits
Search returned 5 hits.
 Returning all 5 hits
Search returned 3 hits.
 Returning all 3 hits
Search returned 3 hits.
 Returning all 3 hits
Search returned 5 hits.
 Returning all 5 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 7 hits.
 Returning all 7 hits
Search returned 1 hits.
 Returning all 1 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 4 hits.
 Returning all 4 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 0 hits.
 Returning all 0 hits
Search returned 13 hits.
 Returning all 13 hits
Search returned 6 hits.
 Returning all 6 hits
Search returned 0 hits.
 Returning all 0 hits
mujer 4
hombre 1
hombre 1
mujer 2
mujer 4
mujer 4
mujer 2
mujer 2
hombre 1
mujer 2
mujer 2
mujer 5
hombre 1
mujer 5
hombre 1
mujer 3
mujer 4
mujer 4
mujer 4
hombre 6
mujer 2
mujer 2
mujer 4
hombre 1
hombre 1
hombre 1
mujer 5
mujer 2
mujer 2
mujer 2
mujer 2
mujer 2
mujer 3
hombre 6
mujer 2
mujer 4
mujer 4
mujer 2
hombre 1
hombre 1
mujer 2
mujer 3
mujer 3
mujer 3
hombre 6
mujer 3
mujer 3
mujer 2
mujer 3
mujer 4
mujer 5
hombre 6
mujer 4
mujer 5
mujer 5
hombre 1
mujer 2
mujer 3
mujer 4
mujer 4
mujer 3
mujer 5
mujer 2
hombre 1
mujer 4
mujer 4
mujer 4
mujer 2
mujer 4
hombre 6
mujer 2
mujer 3
mujer 3
hombre 1
hombre 1
hombre 1
mujer 2
mujer 2
hombre 1
hombre 1
mujer 3
mujer 3
mujer 4
mujer 4
hombre 6
hombre 6
mujer 3
mujer 2
hombre 6
hombre 1
hombre 6
mujer 2
mujer 3
hombre 1

In [ ]:
%ls

'lineas_concordancia - Transcripción Estudio 17 - GF1.docx'
'lineas_concordancia - Transcripción Estudio 17 - GF1.xlsx'
'lineas_concordancia - Transcripción Estudio 17 - GF2.docx'
'lineas_concordancia - Transcripción Estudio 17 - GF2.xlsx'
'lineas_concordancia - Transcripción Estudio 17 - GF3.docx'
'lineas_concordancia - Transcripción Estudio 17 - GF3.xlsx'
'lineas_concordancia - Transcripción Estudio 17 - GF4.docx'
'lineas_concordancia - Transcripción Estudio 17 - GF4.xlsx'
'Transcripción Estudio 17 - GF1.docx'
'Transcripción Estudio 17 - GF1.xlsx'
'Transcripción Estudio 17 - GF2.docx'
'Transcripción Estudio 17 - GF2.xlsx'
'Transcripción Estudio 17 - GF3.docx'
'Transcripción Estudio 17 - GF3.xlsx'
'Transcripción Estudio 17 - GF4.docx'
'Transcripción Estudio 17 - GF4.txt'
'Transcripción Estudio 17 - GF4.xlsx'

In [ ]:
%rm *.txt

# Fin

In [ ]:
fin = datetime.now()
print('Tiempo de ejecución:', (fin-inicio))

Tiempo de ejecución: 0:00:23.184166